<nav
  class="nav"
  [class.nav--scrolled]="scrolled"
  [class.hide-underline]="isLoginPage"
>

  <a class="brand" routerLink="/app/menu">
    <img
      ngSrc="/assets/brand/museai-logo-solo.png"
      width="40"
      height="40"
      class="brand__logo"
    />
    <span class="brand__name">MuseAI</span>
  </a>

  <div class="links">
    <div class="links-main">

      <a routerLink="/app/menu" routerLinkActive="active">Inicio</a>

      <ng-container *ngIf="isAuthenticated">
        <a routerLink="/museum" routerLinkActive="active">Museo</a>

        <a routerLink="/create-canvas" routerLinkActive="active">Lienzo</a>

        <a routerLink="/sculptor" routerLinkActive="active">
          Escultura 3D
        </a>

        <a routerLink="/app/profile" routerLinkActive="active">Perfil</a>
      </ng-container>

      <ng-container *ngIf="!isAuthenticated">
        <a routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
        <a routerLink="/register" routerLinkActive="active">Crear cuenta</a>
      </ng-container>

    </div>

    <button
      *ngIf="isAuthenticated"
      class="logout-btn"
      (click)="logout()"
    >
      Cerrar sesión
    </button>
  </div>
</nav>
