<nav class="nav">
  <a class="brand" routerLink="/" aria-label="Ir a inicio">
    <img ngSrc="/assets/brand/museai-logo.png" width="40" height="40" alt="Muse AI" />
    <span class="brand__name">Muse AI</span>
  </a>

  <div class="links">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>

   
   <div class="guest-links" *ngIf="!isAuthenticated">
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/register" routerLinkActive="active">Registro</a>
</div>

    
<a *ngIf="isAuthenticated" routerLink="/app/menu" routerLinkActive="active">Menú</a>
<a *ngIf="isAuthenticated" routerLink="/museum" routerLinkActive="active">Explora 3D</a>
<a *ngIf="isAuthenticated" routerLink="/quiz" routerLinkActive="active">Quiz</a>
<a *ngIf="isAuthenticated" routerLink="/app/profile" routerLinkActive="active">Perfil</a>
<a *ngIf="isAuthenticated" routerLink="/app/edit-profile" routerLinkActive="active">Editar Perfil</a>


  
    <button
      type="button"
      class="logout-btn"
      *ngIf="isAuthenticated"
      (click)="logout()"
    >
      Cerrar sesión
    </button>
  </div>
</nav>
